hr {
    margin: 30px 0px 30px 0px;
}
.carousel-class {
    margin: 50px 0px 50px 0px;
}

.carousel-class img {
    max-height: 350px;
}

.card-hotel {
    flex: 1 265px;
    max-width: 265px;
    padding: 0px 5px 5px 5px;
}

.card-hotel h4 {
    padding-bottom: 5px;
    margin: 0px;
}

.card-hotel img {
    margin: 5px 0px 5px 0px;
}

.card-hotel button {
    width: 100%;
}

.btn-reservar-plus {
    padding-right: 10px;
}

#contactUs {
    text-align: center;
}
.btn-contacto {
    font-weight: bolder;
}

footer {
    padding: 30px;
    background-color: lightgray;
    margin-top: 50px;
}

.footer-address-icon {
    padding-right: 15px;
}

.tab-content {
    padding-top: 10px;
}