$grey: #c7c7c7;

@mixin margenes($topDown, $leftRight) {
    margin: $topDown $leftRight $topDown $leftRight; 
}

hr {
    @include margenes(30px, 0px);
}

.carousel-class {
    @include margenes(50px, 0px);
}

.carousel-class img {
    max-height: 350px;
}

#breadcrumb {
    padding-top: 90px;
}

.card-hotel {
    flex: 1 265px;
    max-width: 265px;
    padding: 5px;
}

.card-hotel h4 {
    padding-bottom: 5px;
    margin: 0px;
}

.card-hotel img {
    @include margenes(5px, 0px);
}

.card-hotel button {
    width: 100%;
}

.btn-reservar-plus {
    padding-right: 10px;
}

#contactUs {
    text-align: center;
}
.btn-contacto {
    font-weight: bolder;
}

footer {
    padding: 30px;
    background-color: $grey;
    margin-top: 50px;
}

.footer-address-icon {
    padding-right: 15px;
}

.tab-content {
    padding-top: 10px;
}